* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 20px hsla(209, 67%, 12%, 0.1);
    background-color: #030e15;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.logo a span {
    color: #f0fa39;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: #fff;
}

.menu:hover a {
    opacity: 0.4;
}

.menu a:hover {
    opacity: 1;
    color: #fff;
}

.menu-icon {
    display: none;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~.menu {
    transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
    .menu {
        flex-direction: column;
        background-color: #151418;
        align-items: start;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        z-index: 1;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .menu a {
        margin-left: 12px;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
    }
}

html {
    scroll-behavior: smooth;
}

#contact-form {
    margin-left: 20px;
}

#home {
    background-image: url(asset/bg-me.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#home .container {
    display: flex;
    justify-content: space-around;
    padding-top: 40vh;
    color: white;
}

#home .container ul {
    list-style: none;
    display: flex;
}

#home .container h2 {
    padding-left: 25px;
}

.right li {
    padding-right: 10px;
}

#profile {
    background-image: url(asset/bgimg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    text-align: center;
    height: 100vh;
    color: white;
    overflow: hidden;
}

#profile .img-thumbnail {
    width: 180px;
    height: 200px;
}

#profile h2 {
    color: yellow;
    padding-top: 10px;
}

.rig1 {
    margin-top: 60px;
}

.rig1 p {
    padding-top: 20px;
    font-size: 0.9rem;
    font-weight: bold;
}

#portfolio {
    background-image: url(asset/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    text-align: center;
    color: white;
    overflow: hidden;
}

#portfolio .container-2 {
    display: flex;
    justify-content: space-around;
    padding-top: 110px;
}

#portfolio .card {
    background-color: transparent;
    margin: 10px;
}

#portfolio .card img {
    width: 100%;
    height: 100%;
}

#portfolio .card img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

#portfolio .card:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.537);
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

#portfolio .btm {
    display: flex;
    justify-content: space-around;
}

#portfolio h2 {
    padding-top: 40px;
}

.feedback-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #f5f5f5;
}

.feedback,
.contact {
    flex: 1;
    padding: 20px;
    background-image: url(asset/portfolio-bg.jpg);
    color: #f5f5f5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact h2{
    color: yellow;
    text-align: center;
}
.feedback h2,
.contact h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feedback p {
    font-size: 16px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin-bottom: 5px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact .btn:hover {
    background-color: #ffe203;
    color: black;
}


footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
}


@media (max-width: 768px) {
    .feedback-contact {
        flex-direction: column;
        padding: 20px;
    }

    .feedback,
    .contact {
        width: 100%;
    }

    .contact .btn {
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
    }

    .social-icons {
        margin-top: 10px;
    }
}
.contact form{
    width: 90%;
    padding-left: 15%;
}